/*========================== RESET ===========*/

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-style: italic;
}

img {
  width: 8rem;
  height: 8rem;
}

/*  ==================================== VARIABLES ======== */
:root {
  --base-color: #7513c7;
  --base-color-second: rgb(104, 0, 173, 5);
  --base-color-alt: #5d006e;
  --title-color: #7513c7;
  --text-color: rgb(255, 255, 255);
  --text-color-light: hsl(0 0% 98%);
  --boyd-color: rgb(0, 0, 0);

  /*- fonts -*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/* ==================================== BASE ================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 var(--subtitle-font-size) var(--body-font);
  color: var(--text-color);
  background: var(--boyd-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 2rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 var(--subtitle-font-size) var(--body-font);
  transition: filter 0.3s;
}

.button:hover {
  filter: brightness(1.4);
}

.divider-1 {
  height: 2px;
  background: linear-gradient(270deg, rgb(255, 255, 255), hsl(271, 100%, 50%));
}

.divider-2 {
  height: 2px;
  background: linear-gradient(270deg, hsl(271, 100%, 50%), rgb(255, 255, 255));
}
/*==================================  LAYOUT   ======================*/

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 1rem;
  padding: 1rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid var(--boyd-color);
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--boyd-color);
  box-shadow: 0 0 5px rgb(122, 0, 192);

  transition: 0.3s;
}

#header.scroll {
  background: linear-gradient(rgb(122 0 192) 0%, rgb(104 0 173 / 90%) 100%);
  box-shadow: 0 0 5px rgb(211, 211, 211);
  border-color: var(--base-color);
}

#header.scroll .logo span {
  color: var(--boyd-color);
  transition: 0.3s;
}

#header.scroll .icon-menu {
  color: var(--boyd-color);
  transition: 0.3s;
}

/* ==================================== LOGO ==================*/

.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--text-color);
}

.logo span {
  color: var(--base-color-second);
}

.logo-alt span {
  color: var(--boyd-color);
}

/* ==================================== NAVIGATION ===============*/

nav {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--text-color-light);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--text-color-light);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* ===== MOSTRAR MENU ==== */

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--boyd-color);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* ===== TOGGLE MENU ==== */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}
nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  /* TRANSIÇÃO */
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* ======================================= CABEÇARIO =================================*/

.title {
  text-align: center;
}

.promoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 0;
  max-width: 720px;

  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(to left, #000000, #1d1d1d);

  border: 0.2rem double hsl(271, 100%, 50%);
  border-radius: 0.5rem;
}

.promoDiv div {
  border-bottom: 0.2rem inset hsl(271, 100%, 50%);
  border-radius: 0.8rem;

  padding: 0.3rem 1rem;

  margin-bottom: 0.5rem;

  text-align: center;
  font-size: var(--title-font-size);
}

.promoDiv a {
  font-size: var(--subtitle-font-size);
  text-align: center;

  border-top: 0.2rem inset hsl(271, 100%, 50%);
  border-bottom: 0.2rem inset hsl(271, 100%, 50%);

  border-radius: 0.8rem;

  padding: 0.4rem 1rem;
}

/* ======================================= GRID CAMISAS =================================*/

.shirts {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  padding: 0.5rem;
  max-width: 95vw;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  gap: 1rem;
}

.shirt {
  display: flex;
  justify-content: space-around;

  width: 90%;
  padding: 1rem;
  gap: 1rem;

  border-radius: 0.25rem 0.25rem 0.1rem 0.1rem;
  border-bottom: 3px solid #7d14d5;
  background: linear-gradient(145deg, #000000, #222222);
  box-shadow: 1px 1px 5px #160325, -1px -1px 5px #160325;
}

.shirt .image_shirt {
  border-radius: 0.2rem;
}

.shirt div {
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.shirt div .tam {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 0.5rem;
}

.shirt div .tam p {
  width: 2rem;
  height: 2rem;

  border-radius: 15px;
  background: #000000;
  box-shadow: inset 5px 5px 10px #40248f, inset -5px -5px 10px #2b2397;

  text-align: center;
  line-height: 2rem;
}

.shirt .button {
  justify-content: center;
  width: 6rem;

  justify-self: flex-start;
}

#services #footer {
  padding: 1rem;

  text-align: center;
  font-size: var(--subtitle-font-size);
}

/* ======================================= FOOTER =================================*/

footer {
  background: linear-gradient(var(--base-color-second) 0%, rgb(27 27 27) 100%);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-right: 0.5rem;
}

footer .social {
  display: flex;
  align-items: center;
}

footer .social a {
  display: inline-block;
  transition: 0.3s;
  margin-right: 4rem;

  color: var(--boyd-color);

  font-size: var(--subtitle-font-size);
}

footer .social a:hover {
  transform: translateY(-5px);
}

/* ======================================= BOTÃO UP =================================*/

.back-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-top.show {
  visibility: visible;
  opacity: 1;

  transform: translateY(0);
}

/* ======================================= RESPONSIVO =================================*/

/*===== MEDIA QUERIES ======*/
/*extra large devices: 1200> */

@media (min-width: 1200px) {
  header .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .section {
    padding: 7rem 0;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    color: var(--text-color-light);
    -webkit-font-smoothing: antialiased;
  }

  nav .icon-menu {
    display: none;
  }

  footer.section {
    padding: 3.8rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  footer .social a {
    margin-left: 5rem;
    margin-right: auto;
  }
}

/* large devices: 992> */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  header .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    color: var(--text-color-light);
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  #services .shirts {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
  }

  footer.section {
    padding: 3.8rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  footer .social a {
    margin-left: 5rem;
    margin-right: auto;
  }
}

/* medium devices: 770> */

@media (min-width: 700px) {
  .shirts {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;

    gap: 1.5rem;
  }

  .shirt {
    width: 100%;
  }

  footer.section {
    padding: 3.8rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  footer .social a {
    margin-left: 5rem;
    margin-right: auto;
  }
}
